.header {
  text-align: center;
  font-size: 3rem;
}

.container {
  display: flex;
  flex-direction: row;
}

.container > div {
  border-radius: 1rem;
  margin: 1rem;
}

.container > div:first-child {
  width: 100%;
}
.container > div:last-child {
  width: 100%;
}
/*------Window--------*/
.window {
  height: 400px;
  overflow: auto;
}

.window_1 {
  background-color: #cfd8dc;
}
.window_2 {
  background-color: #b3e5fc;
}

/* -----------Chat---------- */
.chat {
  background-color: #a7ffeb;
  padding: 5px;
  border-radius: 20px 20px 20px 0;
  margin: 5px;
  width: 300px;
}

.chatBoxLeft {
  margin-left: auto;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 20px;
}
