
.card-container {
  margin: 2rem auto;
  width: 900px;
  border: 1px solid;
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 500px;
}

.card-container-1 {
  width: 300px;
  box-shadow: 0 0 4px 0 grey;
  border-radius: 5px;
  height: fit-content;
}

.card-container-2 {
  width: 300px;
   height: fit-content;
   box-shadow: 0 0 4px 0 grey;
   border-radius: 5px;
}

.checkbox-wrapper {
  padding: 1rem;
  margin: 0.5rem;
  box-shadow: 0 0 4px 0 grey;
  border-radius: 5px;
}

/* Posts Page */
#posts-page {
  margin: 2rem auto;
  width: 900px;
  border: 1px solid;
  text-align: center;
}

.post-card {
  border: 1px solid;
  width: 800px;
  height: fit-content;
  box-shadow: 0 0 4px 0 grey;
  border-radius: 5px;
  margin: 0.5rem;
  padding: 1.5rem;
}

.post-card .title{
  font-size: 1.5rem;
  font-weight: bold;
  margin: 0.5rem;
}